/*! Account page */
/*======================================================================================================================*/


.#{$lottery_name}-#{$page_account} {
  background: transparent;

  &__wrapper {}
  &__body {
    padding: em(20 0, $fz);

    &::after {
      background: $grey_color;
    }
  }
}
