/*! Lottery page */
/*======================================================================================================================*/


.#{$lottery_name} {
  background-color: $black_color;
  color: $white_color;
  $main_self: &;

  // media
  @include mediaMixin(max, 1920) {
    font-size: .83334vw;
  }
  @include mediaMixin(max, 1000) {
    font-size: 1vw;
  }
  // media



  // Common Styles------------------------------------------------------------------------------------------------------
  &-inner {
    background-color: $grey_color;
  }
  &-decor {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    pointer-events: none;
    z-index: 0;
    &__el {
      position: absolute;
    }
    &__bg {
      position: absolute;
    }
  }

  &-title {}
  &-btn {}
  &-link {
    $fz: 20;

    display: block;
    font-weight: 500;
    margin: em(60, $fz) auto 0;
    font-size: em($fz, $fz_base);
    color: $white_color;
    text-transform: uppercase;
    pointer-events: none;
  }
  &-link-text {
    position: relative;
    pointer-events: auto;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      @include size(100%, 2px);
      background: #fff;
      transform: scale(1);
      transition: all .5s ease;
    }

    @include on-hover {
      &::after {
        transform: scaleX(0);
        transition: all .5s ease;
      }
    }
  }
  // Common Styles------------------------------------------------------------------------------------------------------



  // Section main ------------------------------------------------------------------------------------------------------
  &-section--main {}
  // Section main ------------------------------------------------------------------------------------------------------



  // Section steps -----------------------------------------------------------------------------------------------------
  &-section--steps {}
  // Section steps -----------------------------------------------------------------------------------------------------

}
