/*! Lottery page */
/*======================================================================================================================*/


.#{$lottery_name} {
  background-color: $black_color;
  color: $white_color;

  // media
  @include mediaMixin(max, 1920) {
    font-size: .835vw;
  }
  // media



  // Common Styles------------------------------------------------------------------------------------------------------
  &-inner {
    background-color: $grey_color;
  }
  &-decor {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    pointer-events: none;
    z-index: 0;
    &__el {
      position: absolute;
    }
  }

  &-title {}
  &-btn {}
  // Common Styles------------------------------------------------------------------------------------------------------



  // Section Main ------------------------------------------------------------------------------------------------------
  &-section--main {}
  // Section Main ------------------------------------------------------------------------------------------------------



  // Section Steps -----------------------------------------------------------------------------------------------------
  &-section--steps {}
  // Section Steps -----------------------------------------------------------------------------------------------------

}
