//- Mixin element linkPages
//- ====================================================================================================================


mixin addDemoPages(nameLink)

  if nameLink === 'index'
    - text = 'lottery'
    - firstLetter = text.charAt(0).toUpperCase()
  else
    - text = nameLink
    - firstLetter = text.charAt(0).toUpperCase()

  if nameLink
    +e.A.button--page(href=`${nameLink}.php` title=`${text}`)&attributes(attributes)
        +e.SPAN.button-text= text
