/*! Base */
/*======================================================================================================================*/


.#{$lottery_name} {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  font-family: $main_font;
  text-size-adjust: 100%;
  font-smooth: antialiased;
  overflow: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  direction: opposite-direction(ltr);
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }



  // Common styles -----------------------------------------------------------------------------------------------------
  &-inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-shadow: em(5 5 100, $fz) hsla(0, 0%, 0%, 0.5);
    overflow: hidden;
    background-size: auto;

    //media
    @include MQ(max, min) {
      width: 1920px;
    }
    //media

  }
  &-section {
    position: relative;
    z-index: 1;
  }
  &-container {
    position: relative;
    margin: 0 auto;
    max-width: em(1500, $fz);
    padding: 0 em(20, $fz);
  }
  &-title {
    position: relative;
    text-align: center;
    z-index: 1;
  }
  [data-aos^=fade][data-aos^=fade] {
    pointer-events: none;
  }
  [data-aos^=fade][data-aos^=fade].aos-animate {
    pointer-events: auto;
  }
  &-decor {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    pointer-events: none;
    z-index: 0;

    &__el {
      position: absolute;
    }

    &[data-aos^=fade][data-aos^=fade].aos-animate,
    [data-aos^=fade][data-aos^=fade].aos-animate {
      pointer-events: none;
    }
  }
  &-button {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    padding: 0;
    border: 0;
    margin: 0 auto;
    color: $black_color;
    background: $black_color;
    z-index: 2;
    min-width: em(200, $fz);
    will-change: transform;
    transform: scale(1);
    transition: transform .5s ease, box-shadow .5s ease;

    // text
    span {
      $fz: 18;

      font-size: em($fz, $fz_base);
      position: relative;
      display: block;
      overflow: hidden;
      z-index: 1;
      padding: em(10 10, $fz);

      // light
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        transform: translate3d(-100%, 0, 0) skew(0deg);
        width: 100%;
        height: 100%;
        will-change: transform;
        border: 1px solid transparent;
        opacity: .5;
        background-color: hsla(0, 0%, 100%, 0.5);
        animation: flicker 4s ease-in-out infinite 1s;
      }
    }


    // bg color
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background: hsl(0, 0%, 93%);
      z-index: 0;
      opacity: 1;
      transform: translate3d(-50%, -50%, 0);
      transition: opacity 0.5s ease
    }

    // states
    @include on-hover {
      transition: transform .5s ease, box-shadow .5s ease;

      &::before {
        opacity: .5;
        transition: opacity .5s ease;
      }

      span {
        &::after {
          display: none;
        }
      }
    }
    &:active {
      transform: scale(.95);
      transform-origin: center;
      box-shadow: em(5 5 10 0, $fz) rgba(0, 0, 0, .25);
      transition: box-shadow .2s ease, transform .2s ease;

      &::before {
        opacity: .5;
        transition: opacity .5s ease;
      }
    }

  }
  &-link {
    display: block;
    text-align: center;
    color: $white_color;
    pointer-events: none;

    &__text {
      position: relative;
      pointer-events: auto;

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        @include size(100%, 2px);
        background: #fff;
        transform: scale(1);
        transition: all .5s ease;

        //media
        @include MQ(l) {
          @include size(100%, 1px);
        }
        //media

      }

      @include on-hover {
        &::after {
          transform: scaleX(0);
          transition: all .5s ease;
        }
      }
    }
  }
  // Common styles -----------------------------------------------------------------------------------------------------



  // test elements -----------------------------------------------------------------------------------------------------
  &-test-page {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5vw;
    text-transform: uppercase;
    color: $white_color;
  }
  &-test-text {
    font-size: 3vw;
    text-transform: uppercase;
    color: inherit;
  }
  // test elements -----------------------------------------------------------------------------------------------------



  // modification ------------------------------------------------------------------------------------------------------
  &--is-none {
    display: none;
  }
  &--is-loaded {}
  &--is-mobile {

    button,
    textarea,
    input,
    select,
    a,
    div,
    span{
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: transparent;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

  }
  // modification ------------------------------------------------------------------------------------------------------



  // elements in project -----------------------------------------------------------------------------------------------
  .no-animate {
    animation: none !important;
  }
  .breadcrumbs {
    position: absolute;
    font-style: normal;
    z-index: 2;
    top: em(20, $fz);
    display: flex;
    #{dir(left)}: em(20, $fz);

    li {
      color: $white_color;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      font-weight: bold;
      font-size: em(18, $fz_base);

      a, span {
        color: inherit;
        font-size: inherit;
      }
      &:first-child::before {
        content: none;
      }
      &::before {
        content: "/";
        margin-#{dir(left)}: em(4, $fz);
        margin-#{dir(right)}: em(8, $fz);
      }
    }


    //media
    @include mediaMixin(max, 1000) {
      display: none;
    }
    //media


  }

  .v--modal {
    top: auto !important;
    left: auto !important;
    overflow: visible !important;
    height: auto !important;
    width: auto !important;
    background: none !important;
    display: inline-block;
    box-shadow: none;
  }
  .v--modal-background-click {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
  .v--modal-overlay {
    background: hsla(0, 0%, 0%, 0.7) !important;
  }
  .v--modal-overlay {
    z-index: 100010 !important;
  }
  // elements in project -----------------------------------------------------------------------------------------------

}
