/*! Base */
/*======================================================================================================================*/


// Main styles
.#{$lottery_name} {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  font-family: $main_font;
  text-size-adjust: 100%;
  font-smooth: antialiased;
  overflow: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  direction: opposite-direction(ltr);
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }


  &-inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-shadow: em(5 5 100, $fz) hsla(0, 0%, 0%, 0.5);
    overflow: hidden;
    background-size: auto;

    //media
    @include mediaMixin(min, 1920) {
      width: 1920px;
    }
    //media

  }
  &--is-none {
    display: none;
  }
  &--is-loaded {}
  &--is-mobile {

    button,
    textarea,
    input,
    select,
    a,
    div,
    span{
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-tap-highlight-color: transparent;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

  }

  &-js-addition-title {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: em(30, $fz);
    background: $black_color;
    border: 2px solid $white_color;
    font-size: em(16, $fz_base);
    text-transform: uppercase;
    color: $main_color;
    z-index: 999;
    font-weight: 900;
    padding-right: em(10, $fz);
    padding-left: em(10, $fz);
    pointer-events: none;

    //media
    @include mediaMixin(max, 1920) {
      font-size: .9vw;
    }
    @include mediaMixin(max, 1680) {
      font-size: .85vw;
    }
    @include mediaMixin(max, 1366) {
      font-size: .75vw;
    }
    @include mediaMixin(max, 1300) {
      font-size: .8vw;
    }
    @include mediaMixin(max, 1000) {
      display: none;
    }
    //media
  }

  &-section {
    position: relative;
    z-index: 1;
  }
  &-container {
    position: relative;
    margin: 0 auto;
    padding: 0 em(20, $fz);
  }
  &-title {
    position: relative;
    text-align: center;
    z-index: 1;
  }
  &-btn {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    padding: 0;
    border: 0;
    margin: 0 auto;
    color: $black_color;
    background: $black_color;
    z-index: 2;
    min-width: em(200, $fz);
    border-radius: 50px;
    box-shadow: em(10 10 24 3, $fz) hsla(0, 0%, 0%, 0.25);
    transform: scale(1);
    transition: transform .5s ease, box-shadow .5s ease;

    span {
      position: relative;
      display: block;
      overflow: hidden;
      font-weight: 600;
      z-index: 1;
      border-radius: 50px;
      font-size: em(18, $fz_base);
      padding: em(21 15, $fz);

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        transform: translate3d(-100%, 0, 0) skew(0deg);
        width: 100%;
        height: 100%;
        will-change: transform;
        border: 1px solid transparent;
        opacity: .5;
        background-color: hsla(0, 0%, 100%, 0.5);
        animation: flicker 4s ease-in-out infinite 1s;
      }
    }

    //bg
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 102%;
      height: 110%;
      margin: 0 auto;
      background: hsl(0, 0%, 93%);
      z-index: 0;
      border-radius: 50px;
      opacity: 1;
      transform: translate3d(-50%, -50%, 0);
      transition: opacity 0.5s ease
    }


    @include on-hover {
      transition: transform .5s ease, box-shadow .5s ease;

      &::before {
        opacity: .5;
        transition: opacity .5s ease;
      }

      span {
        &::after {
          display: none;
        }
      }
    }

    &:active {
      transform: scale(.95);
      transform-origin: center;
      box-shadow: em(5 5 10 0, $fz) rgba(0, 0, 0, .25);
      transition: box-shadow .2s ease, transform .2s ease;

      &::before {
        opacity: .5;
        transition: opacity .5s ease;
      }
    }
  }

  &-test-page {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5vw;
    text-transform: uppercase;
    color: $main_color;
  }
  &-test-text {
    font-size: 3vw;
    text-transform: uppercase;
    color: $main_color;
  }
  &-btn-test {
    position: absolute;
    top: 40%;
    right: em(-125, $fz);

    //media
    @include mediaMixin(max, 1000) {
      top: em(adaptive1000(-30), $fz);
      right: em(adaptive1000(10), $fz);
    }
    @include mediaMixin(max, 560) {
      top: em(adaptive560(-64), $fz);
      right: em(adaptive560(2), $fz);
    }
    //media


    &__tickets {
      $fz: 40;

      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: em(0, $fz);
      @include size(em(50, $fz));
      border-radius: 50%;
      color: $black_color;
      background: $white_color;
      box-shadow: 0 0 0 3px $black_color;
      border: 0;
      font-size: em($fz, $fz_base);
      font-weight: 300;
      transform: translate3d(0, -50%, 0) scale(1);
      transition: all .5s ease;

      //media
      @include mediaMixin(max, 1000) {
        $fz: adaptive1000(30);

        @include size(em(adaptive1000(30), $fz));
        font-size: em($fz, $fz_base);
      }
      @include mediaMixin(max, 560) {
        $fz: adaptive560(30);

        @include size(em(adaptive560(30), $fz));
        font-size: em($fz, $fz_base);
      }
      //media


      @include on-hover {
        color: $black_color;
        background: $white_color;
        box-shadow: 0 0 5px 1px $black_color, em(0 0 20 3, $fz) hsla(0, 0%, 100%, .5);
        transform: translate3d(0, -50%, 0) scale(1.1);
        transition: all .5s ease;
      }

      &:active {
        box-shadow: 0 0 2.5px 1px $black_color, 0 0 10px 3px $white_color;
        transform: translate3d(0, -50%, 0) scale(.95);
        transition: all .2s ease;
      }

    }
  }
  &-demo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: none;
  }
  &-demo {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: em(400, $fz);
    z-index: 999;
    direction: ltr;
    transform: translate3d(99%,0,0);
    transition: transform .5s ease;
    $demo: &;

    //media
    @include mediaMixin(max, 1000) {
      $fz: 25;

      font-size: em($fz, $fz_base);
    }
    @include mediaMixin(max, 560) {
      $fz: 50;

      font-size: em($fz, $fz_base);
      width: em(adaptive560(200), $fz);
    }
    //media


    @include on-hover {
      opacity: 1;
      transform: translate3d(0%,0,0);
      transition: transform .5s ease;

      #{$demo} {
        &__switch-button {
          opacity: 1;
          transition: all .5s ease;
        }
        &__switch-button-svg {
          transform: translate3d(-50%,-50%,0) rotate(180deg);
          transition: all 1s ease;
        }
        &__content {
          transform: translate3d(0%,0,0);
          transition: all .5s ease;
        }
      }

    }

    &--is-show {
      opacity: 1;
      transform: translate3d(0%,0,0);
      transition: transform .5s ease;

      #{$demo} {
        &__switch-button {
          opacity: 1;
          transition: all .3s ease;
        }
        &__switch-button-svg {
          transform: translate3d(-50%,-50%,0) rotate(0);
          transition: all 1s ease;
        }

        &__content {
          transform: translate3d(0%,0,0);
          transition: all .5s ease;
        }
      }
    }
    &--is-fixed {
      opacity: 1;
      transform: translate3d(0%,0,0);
      transition: transform .5s ease;

      #{$demo} {
        &__switch-button {
          opacity: 1;
          transition: all .3s ease;
        }
        &__switch-button-svg {
          transform: translate3d(-50%,-50%,0) rotate(180deg);
          transition: all 1s ease;
        }
        &__content {
          transform: translate3d(0%,0,0);
          transition: all .5s ease;
        }
      }
    }

    &__switcher {
      position: absolute;
      bottom: em(70, $fz);
      left: em(-70, $fz);
      width: em(70, $fz);
      height: em(70, $fz);
      display: block;
      padding: em(8, $fz);

      //media
      @include mediaMixin(max, 560) {
        bottom: em(adaptive560(40), $fz);
      }
      //media

    }
    &__switch-button {
      position: relative;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background: #e6e7ed;
      box-shadow: inset em(4 4 8, $fz) hsl(230, 4%, 73%),inset em(-5 -5 10, $fz) hsl(0, 0%, 100%);
      border: 1px solid hsl(217, 30%, 86%);
      border-radius: em(10, $fz);
      will-change: transform;
      opacity: .2;
      transform: translate3d(0,0,0) scale(1);
      transition: all .5s ease;

      //media
      @include mediaMixin(max, 1000) {
        opacity: .5;
      }
      //media


      &--is-active {
        #{$demo}__switch-button-svg {
          opacity: 1;
          transition: all 1s ease;

          path {
            stroke-width: em(10, $fz);
            stroke: hsl(233, 21%, 24%);
            transition: all .5s ease;
          }
        }
      }
      @include on-hover {
        opacity: 1;
        transform: translate3d(0,0,0) scale(1.05);
        transition: all .3s ease;
      }
      &:active {
        box-shadow: inset em(2 2 5, $fz) hsl(230, 4%, 73%),inset em(-3 -3 7, $fz) hsl(0, 0%, 100%);
        transform: translate3d(0,0,0) scale(1);
        transition: all .2s ease;
      }
    }
    &__switch-button-svg {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 70%;
      margin: 0 auto;
      transform: translate3d(-50%,-50%,0) rotate(0);
      transform-origin: center;
      opacity: .5;
      transition: all 1s ease;

      path {
        fill: hsl(233, 21%, 24%);
        transition: all .5s ease;
      }
    }

    &__content {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: auto;
      background: hsl(231, 16%, 92%);
      border-left: 1px solid hsl(217, 30%, 86%);
      transform: translate3d(20%,0,0);
      box-shadow: 0 0 em(40, $fz) hsla(0, 0%, 0%, .5);
      transition: all .5s ease;

      //media
      @include mediaMixin(max, 560) {
        padding-bottom: em(adaptive560(10), $fz);
      }
      //media

    }

    &__lock {
      position: absolute;
      top: em(5, $fz);
      left: em(5, $fz);
      opacity: .3;
      cursor: pointer;
      transition: all .5s ease;

      @include on-hover {
        opacity: .5;
        transition: all .5s ease;
      }

      //media
      @include mediaMixin(max, 1000) {
        display: none;
      }
      //media

    }
    &__lock-icon {
      display: block;
      width: em(25, $fz);
      transition: all .5s ease;

      &--open {
        filter: drop-shadow(1px 1px 0 $white_color);

        path {
          fill: hsl(233, 21%, 24%);
        }
      }
      &--close {
        display: none;
      }
    }
    &__version {
      $fz: 20;

      position: absolute;
      top: em(5, $fz);
      right: em(5, $fz);
      font-size: em($fz, $fz_base);
      text-transform: lowercase;
      color: hsl(233, 21%, 24%);
      text-shadow: 1px 1px 0 $white_color;
      font-weight: 100;
      opacity: .3;
    }

    &__name {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: em(30 15, $fz);
    }
    &__name-text {
      $fz: 30;

      font-size: em($fz, $fz_base);
      text-align: center;
      text-transform: capitalize;
      font-weight: 300;
      color: hsl(233, 21%, 24%);
      text-shadow: 1px 1px 0 $white_color;
      margin-right: em(5, $fz);
    }
    &__name-info {
      $fz: 18;

      font-size: em($fz, $fz_base);
      position: relative;
      display: block;
      @include size(em(20, $fz));
      border-radius: 50%;
      color: $white_color;
      background: hsl(233, 21%, 24%);
      text-transform: lowercase;
      text-shadow: none;
      padding: 0;
      margin: 0;
      border: 0;
      opacity: .3;
      transition: all .5s ease;

      @include on-hover {
        opacity: 1;
        transition: all .5s ease;
      }

      //media
      @include mediaMixin(max, 1000) {
        display: none;
      }
      //media

    }
    &__block {
      position: relative;
      margin: em(15 15 40 15, $fz);
    }
    &__block-keys {
      display: none;

      &--is-show {
        display: block;
      }
    }

    &__title {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      color: hsl(233, 21%, 24%);
      margin-bottom: em(5, $fz);
      text-shadow: 1px 1px 0 $white_color;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #d1d9e6;
        transform: translate3d(0, -50%, 0);
        z-index: 0;
      }

      &--page {
        color: hsla(161, 61%, 24%, 1);

        &::after {
          background: hsla(161, 61%, 24%, .3);
        }
      }
      &--state {
        color: hsla(354, 70%, 39%, 1);

        &::after {
          background: hsla(354, 70%, 39%, .3);
        }
      }
      &--modal {
        color: hsla(211, 100%, 35%, 1);

        &::after {
          background: hsla(211, 100%, 35%, .3);
        }
      }

    }
    &__title-icon {
      position: relative;
      display: none;
      width: 7%;
      background: hsl(231, 16%, 92%);
      z-index: 1;

      path {
        fill: hsl(233, 21%, 24%);
      }
    }
    &__title-text {
      $fz: 20;

      position: relative;
      display: inline-block;
      padding: em(0 10 0 10, $fz);
      background: hsl(231, 16%, 92%);
      font-size: em($fz, $fz_base);
      text-transform: capitalize;
      font-weight: 300;
      z-index: 1;
      transition: all .5s ease;
    }

    &__wrapper {
      position: relative;
      display: flex;
      justify-content: stretch;
      align-items: flex-start;
      flex-flow: row wrap;
      box-shadow: inset em(2 2 5, $fz) hsl(230, 4%, 73%),inset em(-3 -3 7, $fz) hsl(0, 0%, 100%);
      border: 1px solid hsl(217, 30%, 86%);
      padding: em(15 5 0 15, $fz);
      border-radius: em(10, $fz);
    }
    &__key {
      position: relative;
      flex: 1;
      flex-basis: 100%;
      text-align: center;
      margin: em(0 15 18 0, $fz);
      background: transparent;
      border-radius: em(10, $fz);
      padding: 0;
      box-shadow: em(4 4 10, $fz) hsl(230, 4%, 73%), em(-4 -4 10, $fz) hsl(0, 0%, 100%);
      border: 1px solid hsl(217, 30%, 86%);
      color: hsl(233, 21%, 24%);
      text-shadow: 1px 1px 0 $white_color;
      will-change: transform;
      transform: translate3d(0,0,0) scale(1);
      transition: all .5s ease .2s;

      &--page {
        color: hsla(161, 61%, 24%, 1);
      }
      &--state {
        color: hsla(354, 70%, 39%, 1);
      }

      @include on-hover {
        transform: translate3d(0, -2px, 0) scale(1.015);
        transition: all .3s ease;
      }

    }
    &__key-text {
      $fz: 16;

      display: block;
      font-size: em($fz, $fz_base);
      padding: em(5, $fz);
      text-transform: uppercase;
      font-weight: 600;

      &--description {
        text-transform: initial;
        font-weight: 400;
        opacity: .7;
        color: hsl(233, 21%, 24%);
      }
    }
    &__button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      flex: 1;
      flex-basis: 30%;
      min-height: em(50, $fz);
      margin: em(0 15 18 0, $fz);
      background: transparent;
      border-radius: em(10, $fz);
      padding: 0;
      box-shadow: em(4 4 10, $fz) hsl(230, 4%, 73%), em(-4 -4 10, $fz) hsl(0, 0%, 100%);
      border: 1px solid hsl(217, 30%, 86%);
      color: hsl(233, 21%, 24%);
      text-shadow: 1px 1px 0 $white_color;
      will-change: transform;
      transform: translate3d(0,0,0) scale(1);
      transition: all .5s ease .2s;
      $demo_button: &;

      &--page {
        border: 1px solid hsla(161, 61%, 24%, .3);
      }
      &--state {
        border: 1px solid hsla(354, 70%, 39%, .3);
      }
      &--modal {
        border: 1px solid hsla(211, 100%, 35%, .3);
      }


      @include on-hover {
        transform: translate3d(0,-2px,0) scale(1.015);
        transition: all .3s ease;

        &#{$demo_button}--page {
          color: hsla(161, 61%, 24%, 1);
        }
        &#{$demo_button}--state {
          color: hsla(354, 70%, 39%, 1);
        }
        &#{$demo_button}--modal {
          color: hsla(211, 100%, 35%, 1);
        }

      }

      &:active {
        transform: translate3d(0,0,0) scale(1);
        box-shadow: inset em(2 2 5, $fz) hsl(230, 4%, 73%),inset em(-3 -3 7, $fz) hsl(0, 0%, 100%);
        transition: all .2s ease;
      }

      //media
      @include mediaMixin(max, 560) {
        flex-basis: 100%;
      }
      //media

    }
    &__button-text {
      $fz: 18;

      font-size: em($fz, $fz_base);
      display: block;
      text-transform: capitalize;
      font-weight: 400;

      //media
      @include mediaMixin(max, 560) {

      }
      //media

    }
  }

  .no-animate {
    animation: none !important;
  }
  .breadcrumbs {
    position: absolute;
    font-style: normal;
    z-index: 2;
    top: em(20, $fz);
    display: flex;
    #{dir(left)}: em(20, $fz);

    li {
      color: $white_color;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      font-weight: bold;
      font-size: em(18, $fz_base);

      a, span {
        color: inherit;
        font-size: inherit;
      }
      &:first-child::before {
        content: none;
      }
      &::before {
        content: "/";
        margin-#{dir(left)}: em(4, $fz);
        margin-#{dir(right)}: em(8, $fz);
      }
    }


    //media
    @include mediaMixin(max, 1000) {
      display: none;
    }
    //media


  }

  .v--modal {
    top: auto !important;
    left: auto !important;
    overflow: visible !important;
    height: auto !important;
    width: auto !important;
    background: none !important;
    display: inline-block;
    box-shadow: none;
  }
  .v--modal-background-click {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
  .v--modal-overlay {
    background: hsla(0, 0%, 0%, 0.7) !important;
  }
  .v--modal-overlay {
    z-index: 100010 !important;
  }

}
.noScroll {
  overflow: hidden;
}
