/*! Modals */
/*======================================================================================================================*/


.#{$lottery_name} {

  // Others Styles ------------------------------------------------------------------------------------------------------
  &-modal {
    position: relative;
    @include size(em(800, $fz_base), em(380, $fz_base));
    padding: em(70 0, $fz_base);
    border: 2px solid $white_color;
    font-size: 16px;
    text-align: center;
    color: $white_color;

    //media
    @include mediaMixin(max, 1000) {
      font-size: 1.3vw;
    }
    //media

    * {
      box-sizing: border-box;
    }

    &__close {
      position: absolute;
      top: em(0, $fz);
      right: em(0, $fz);
      margin: 0;
      padding: 0;
      @include size(em(40, $fz));
      cursor: pointer;
      background: transparent;
      border: 0;
      will-change: transform;
      transform: translate3d(0, 0, 0) scale(1) rotate(0);
      transition: transform .5s ease;
      z-index: 10;

      &-img {
        position: absolute;
        top: 50%;
        left: 50%;
        @include size(100%);
        transform: translate3d(-50%, -50%, 0);
      }

      //hover
      @include on-hover {
        transform: translate3d(0, 0, 0) scale(1) rotate(90deg);
        transition: transform .5s ease;
      }
      //hover

      &:active {
        transform: translate3d(0, 0, 0) scale(0.8) rotate(90deg);
        transition: all .2s ease;
      }


    }
    &__body {
      position: relative;
      z-index: 2;

      @include size(100%);
    }

  }
  // Others Styles End ------------------------------------------------------------------------------------------------------



  // Modal Enter ------------------------------------------------------------------------------------------------------
  &-modal-enter {}
  // Modal Enter ------------------------------------------------------------------------------------------------------



  // Modal Rules ------------------------------------------------------------------------------------------------------
  &-modal-rules {}
  // Modal Rules ------------------------------------------------------------------------------------------------------



  // Modal Tickets ------------------------------------------------------------------------------------------------------
  &-modal-tickets {}
  // Modal Tickets ------------------------------------------------------------------------------------------------------



  // Modal Result ------------------------------------------------------------------------------------------------------
  &-modal-result {}
  // Modal Result ------------------------------------------------------------------------------------------------------



  // Modal Win ------------------------------------------------------------------------------------------------------
  &-modal-win {}
  // Modal Win ------------------------------------------------------------------------------------------------------



  // Modal Hello ------------------------------------------------------------------------------------------------------
  &-modal-hello {}
  // Modal Hello ------------------------------------------------------------------------------------------------------

}
