extends layouts/__main


block vars
  -devMode          = false
  -demo             = true
  -lotteryName      = '<%= project %>'
  -pageType         = 'account'
  -breadcrumbsText  = lotteryName
  -breadcrumbs      = false
  -rtl              = <%= rtl %>
  -no2kSize         = false
  -styles           = true
  -js               = pageType


block content

  // Content -----------------------------------------------------------------------------------------------------


  // Account
  +b.account__wrapper
    +e.body
      +addTestText(`${lotteryName}-test-text`)
  // Account



  // Account Tickets
  +b(class=`${lotteryName}-account__wrapper--logged`)
    +e.body
      +addTestText(`${lotteryName}-test-text`)
  // Account Tickets


  // Content -------------------------------------------------------------------------------------------------------





  // Demo --------------------------------------------------------------------------------------------------------------
  +addDemo(
  pageType,
  '#index',

  <%_ if (raffle) { -%>
  '#raffle',
  <%_ } -%>

    <%_ if (rtl) { -%>
    '@RTL',
    <%_ } -%>
  )
  // Demo --------------------------------------------------------------------------------------------------------------
