extends layouts/__main


block variables
  -
    devMode          = false
    demoPanel        = true
    lotteryName      = '<%= project %>'
    pageType         = 'account'
    breadcrumbsText  = lotteryName
    breadcrumbs      = false
    rtl              = <%= rtl %>
    fullHD           = false
    styles           = true
    js               = true
    jsVendors        = false


  //- Data ---------------------------------------------------------------------------------------------------------
  include sources/account
  //- Data ---------------------------------------------------------------------------------------------------------


block content

  // Content -----------------------------------------------------------------------------------------------------


  // Account
  +b.account__wrapper
    +e.body
      +addTestText(`${lotteryName}-test-text`)
  // Account



  // Account Tickets
  +b.account__wrapper--logged
    +e.body
      +addTestText(`${lotteryName}-test-text`)
  // Account Tickets


  // Content -------------------------------------------------------------------------------------------------------





  // Demo --------------------------------------------------------------------------------------------------------------
  if demoPanel
    +addDemo(
    '#index',

    <%_ if (raffle) { -%>
    '#raffle',
    <%_ } -%>

      <%_ if (rtl) { -%>
      '@RTL',
      <%_ } -%>
    )
  // Demo --------------------------------------------------------------------------------------------------------------
