extends layouts/__main


block vars
  -lotteryName      = '<%= project %>'
  -pageType         = 'lottery'
  -devMode          = true
  -no2kSize         = true
  -rtl              = <%= rtl %>
  -breadcrumbs      = true
  -styles           = true
  -js               = pageType
  -modal            = 'modal-custom'


block content

  // Content -----------------------------------------------------------------------------------------------------------


  // Section main
  +b.SECTION.section--main(id=`${lotteryName}-show-main`)
    +addTestText
  // Section main


  // Content -----------------------------------------------------------------------------------------------------------




  // Modal -------------------------------------------------------------------------------------------------------------


  // Enter
  -modal = 'modal-enter'
  +addModal(modal, customClose = false, customBg = false, modalNumber = false)
  // Enter



  // Rules
  -modal = 'modal-rules'
  +addModal(modal, customClose = false, customBg = false, modalNumber = false)
  // Rules



  // Tickets
  -modal = 'modal-tickets'
  +addModal(modal, customClose = false, customBg = false, modalNumber = false)
  // Tickets



  // Hello
  -modal = 'modal-hello'
  +addModal(modal, customClose = false, customBg = false, modalNumber = false)
  // Hello


  // Modal -------------------------------------------------------------------------------------------------------------




  // Addition Buttons --------------------------------------------------------------------------------------------------
  +addAditions(
    pageType,
    <%_ if (raffle) { -%>
    '#raffle',
    <%_ } -%>
    <%_ if (account) { -%>
    '#account',
    <%_ } -%>
    'enter',
    'rules',
    'tickets',
    'hello'
    )
  // Addition Buttons --------------------------------------------------------------------------------------------------
