extends layouts/__main


block vars
  -lotteryName      = '<%= project %>'
  -pageType         = 'raffle'
  -devMode          = true
  -no2kSize         = true
  -rtl              = <%= rtl %>
  -breadcrumbs      = true
  -styles           = true
  -js               = pageType
  -modal            = 'modal-custom'


block content

  // Content -------------------------------------------------------------------------------------------------------


  // Section main
  +b.SECTION.section--main
    +addTestText
  // Section main


  // Content ---------------------------------------------------------------------------------------------------




  // Modal ---------------------------------------------------------------------------------------------------------


  // Tickets
  -modal = 'modal-tickets'
  +addModal(modal, customClose = false, customBg = false)
  // Tickets



  // Win
  -modal = 'modal-win'
  +addModal(modal, customClose = false, customBg = false)
  // Win



  // Result
  -modal = 'modal-result'
  +addModal(modal, customClose = false, customBg = false)
  // Result


  // Modal ---------------------------------------------------------------------------------------------------------




  // Addition Buttons ----------------------------------------------------------------------------------------------
  +addAditions(
    pageType,
    '#index',
    <%_ if (account) { -%>
    '#account',
    <%_ } -%>
    'tickets',
    'win',
    'result',
  )
  // Addition Buttons ----------------------------------------------------------------------------------------------
