extends layouts/__main


block vars
  -lotteryName      = '<%= project %>'
  -pageType         = 'raffle'
  -devMode          = true
  -no2kSize         = true
  -rtl              = <%= rtl %>
  -breadcrumbs      = true
  -styles           = true
  -js               = pageType
  -modal            = 'modal-custom'


block content

  // Content -------------------------------------------------------------------------------------------------------


  // Section main
  section(id=`${lotteryName}-show-main` class=`${lotteryName}-section ${lotteryName}-section--main`)
    h1(style='color: hsl(101, 100%, 69%); height: 100vh; display: flex;justify-content: center;align-items: center;font-size: 5vw')= lotteryName
  // Section main


  // Content ---------------------------------------------------------------------------------------------------




  // Modal ---------------------------------------------------------------------------------------------------------


  // Tickets
  -modal = 'modal-tickets'
  +addModal(modal, false, false)
  // Tickets



  // Win
  -modal = 'modal-win'
  +addModal(modal, false, false)
  // Win



  // Result
  -modal = 'modal-result'
  +addModal(modal, false, false)
  // Result


  // Modal ---------------------------------------------------------------------------------------------------------




  // Addition Buttons ----------------------------------------------------------------------------------------------
  +addAditions
    +addBtnModal("tickets", "T")
    +addBtnModal("win",      "W")
    +addBtnModal("result",  "R")
  // Addition Buttons ----------------------------------------------------------------------------------------------
