-

  // root folders
  src                      = 'img'
  srcDecor                 = 'img/decor'
  srcMain                  = 'img/main'
  srcMainDecor             = 'img/main/decor'
  srcSteps                 = 'img/steps'
  srcStepsDecor            = 'img/steps/decor'
  srcModal                 = 'img/modal'
  srcModalHello            = 'img/modal/hello'
  // root folders
