//- Mixin element ticketsBtn
//- ====================================================================================================================


mixin addBtnLink(nameLink, nameBtn)
  - nameBtn = nameBtn || "L"

  if nameLink === 'index'
    - text = 'lottery'
  else
    - text = nameLink

  if nameLink
    a(href=`${nameLink}.php` class=`${lotteryName}-addition__btn` title=`${text}`)&attributes(attributes)
      span= nameBtn
