//- Mixin element linkPages
//- ====================================================================================================================


mixin addDemoStates(nameLink)

  if nameLink
    +e.BUTTON.button--state(title=`${nameLink.toLowerCase()}`)&attributes(attributes)
      +e.SPAN.button-text= nameLink

