//- Mixin element btnModal
//- ====================================================================================================================


mixin addDemoModals(nameOpenModal)
  - firstLetter = nameOpenModal.charAt(0).toUpperCase();
  - lastLetter = parseFloat(nameOpenModal.charAt(nameOpenModal.length - 1));
  - number = Number(nameOpenModal.replace(/\D+/g,""));

  if nameOpenModal
    +e.BUTTON.button--modal(title=`${nameOpenModal}` @click=`$modal.show('modal-${nameOpenModal}')`)&attributes(attributes)
      +e.SPAN.button-text= nameOpenModal