//- Mixin element linkPages
//- ====================================================================================================================


mixin addBtnLink(nameLink)

  if nameLink === 'index'
    - text = 'lottery'
    - firstLetter = text.charAt(0).toUpperCase()
  else
    - text = nameLink
    - firstLetter = text.charAt(0).toUpperCase()


  if nameLink
    a(href=`${nameLink}.php` class=`${lotteryName}-addition__btn` title=`${text}`)&attributes(attributes)
      span= firstLetter
