//- Styles


if pageType === 'account'
  if rtl
    link(href="styles/account-rtl.css", rel="stylesheet", id='rtl')
  link(href="styles/account.css", rel="stylesheet", id='ltr')

else
  link(href="styles/vendors.css", rel="stylesheet")
  if rtl
    link(href="styles/rtl.css", rel="stylesheet", id='rtl')
  link(href="styles/styles.css", rel="stylesheet", id='ltr')
